@model IEnumerable<Product>

<div class="h5 text-primary">List Of All Products</div>
<div class="row pb-3">
    @foreach(var product in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="row p-2">
				<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
					<div class="card">
						<a asp-action="Details" asp-route-id="@product.Id"><img src="@product.ImageUrl" class="card-img-top rounded"/></a>

						<div class="card-body">
							<div class="pl-1">
								<h5 class="card-title h5 text-primary">@product.Name</h5>
								<p class="card-text">SKU: <b>@product.Sku</b></p>
							</div>
							<div class="pl-1">
								<p>RRP Price: <b>$@product.Price.ToString("0.00")</b></p>
							</div>
						</div>
					</div>
					<div class="pt-1">
						<a asp-action="Details" class="btn btn-primary form-control" asp-route-id="@product.Id">
							Details
						</a>
					</div>


				</div>
			</div>

        </div>
    }
</div>


